#navbar {
  display: block;
  text-align: center;
  padding: 2.5%;
  justify-content: space-between;
  display: flex;
  margin-left: 30%;
  margin-right: 1.2%;
}

.navlink {
  text-decoration: none;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 180%;
  transition: 0.5s;
}

#logo {
  display: block;
  position: absolute;
  top: 2%;
  left: 1.2%;
  width: 30%;
}

#footer {
  padding: 50px;
  background-color: aquamarine;
  margin-top: 50px;
}

.footernav {
  text-decoration: none;
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 120%;
  margin-left: 1%;
  margin-right: 1%;
}

#leftfooternav {
  margin-right: 1%;
  text-decoration: none;
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 120%;
}

#to-top {
  float: right;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 200%;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
}

#to-top:hover {
  background-color: aquamarine;
}

#copyright {
  font-family: "Garamond";
  font-size: 110%;
}

#madeby {
  font-family: "Garamond";
  font-size: 110%;
}

#text-hero {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
  background-color: rgba(100, 149, 237, 0.8);
}

/*
Adds black OUTLINE to text

#text-hero {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
} 
*/

#title-container {
  position: relative;
  text-align: center;
  height: 600px;
  overflow: hidden;
}

#title-image {
  width: 100%;
}

a {
	position: relative;
  color: white;
}

a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	visibility: visible;
	transform: scaleX(0);
	transition: all 0.3s;
}

a:hover:before {
	visibility: visible;
	transform: scaleX(0.98);
}

html {
  scroll-behavior: smooth;
}

#info-container {
  display: flex;
  justify-content: space-between;
}

.curriculum-info {
  padding: 2.5%;
  margin: 5%;
  border: 2px solid aquamarine;
  font-size: 120%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

b {
  text-align: center;
  display: block;
}